
data/d2_ECFP_100nM.parquet
data/d2_KRFP_100nM.parquet
data/datasets.zip
data/RNN_dataset_ECFP.parquet
data/RNN_dataset_KRFP.parquet
models/models.zip
models/SELFIES_ECFP/epoch_100.pt
models/SELFIES_ECFP/epoch_150.pt
models/SELFIES_ECFP/hyperparameters.ini
models/SELFIES_ECFP/metrics.csv
models/SELFIES_KRFP/epoch_100.pt
models/SELFIES_KRFP/epoch_150.pt
models/SELFIES_KRFP/hyperparameters.ini
models/SELFIES_KRFP/metrics.csv
models/SMILES_ECFP/epoch_100.pt
models/SMILES_ECFP/epoch_150.pt
models/SMILES_ECFP/hyperparameters.ini
models/SMILES_ECFP/metrics.csv
models/SMILES_KRFP/epoch_100.pt
models/SMILES_KRFP/epoch_150.pt
models/SMILES_KRFP/hyperparameters.ini
models/SMILES_KRFP/metrics.csv
models/SVC_SELFIES_ECFP/clf.pkl
models/SVC_SELFIES_ECFP/metrics.csv
models/SVC_SELFIES_KRFP/clf.pkl
models/SVC_SELFIES_KRFP/metrics.csv
models/SVC_SMILES_ECFP/clf.pkl
models/SVC_SMILES_ECFP/metrics.csv
models/SVC_SMILES_KRFP/clf.pkl
models/SVC_SMILES_KRFP/metrics.csv
