
.idea/workspace.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
data/d2_ECFP_100nM.parquet
data/d2_KRFP_100nM.parquet
data/datasets.zip
data/RNN_dataset_ECFP.parquet
data/RNN_dataset_KRFP.parquet
models/models.zip
models/SELFIES_ECFP/epoch_100.pt
models/SELFIES_ECFP/epoch_150.pt
models/SELFIES_ECFP/hyperparameters.ini
models/SELFIES_ECFP/metrics.csv
models/SELFIES_KRFP/epoch_100.pt
models/SELFIES_KRFP/epoch_150.pt
models/SELFIES_KRFP/hyperparameters.ini
models/SELFIES_KRFP/metrics.csv
models/SMILES_ECFP/epoch_100.pt
models/SMILES_ECFP/epoch_150.pt
models/SMILES_ECFP/hyperparameters.ini
models/SMILES_ECFP/metrics.csv
models/SMILES_KRFP/epoch_100.pt
models/SMILES_KRFP/epoch_150.pt
models/SMILES_KRFP/hyperparameters.ini
models/SMILES_KRFP/metrics.csv
models/SVC_SELFIES_ECFP/clf.pkl
models/SVC_SELFIES_ECFP/metrics.csv
models/SVC_SELFIES_KRFP/clf.pkl
models/SVC_SELFIES_KRFP/metrics.csv
models/SVC_SMILES_ECFP/clf.pkl
models/SVC_SMILES_ECFP/metrics.csv
models/SVC_SMILES_KRFP/clf.pkl
models/SVC_SMILES_KRFP/metrics.csv
profis/__pycache__/__init__.cpython-311.pyc
profis/gen/__pycache__/__init__.cpython-311.pyc
profis/gen/__pycache__/dataset.cpython-311.pyc
profis/gen/__pycache__/generator.cpython-311.pyc
profis/utils/__pycache__/__init__.cpython-311.pyc
profis/utils/__pycache__/finger.cpython-311.pyc
profis/utils/__pycache__/modelinit.cpython-311.pyc
profis/utils/__pycache__/vectorizer.cpython-311.pyc
tests/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/test_dataset.cpython-311-pytest-8.2.0.pyc
tests/__pycache__/test_model.cpython-311-pytest-8.2.0.pyc
models/SMILES_KRFP/model.pt
models/SMILES_ECFP/model.pt
models/SELFIES_KRFP/model.pt
models/SELFIES_ECFP/model.pt
models/D2_SVC_SMILES_KRFP/metrics.csv
models/D2_SVC_SMILES_KRFP/clf.pkl
models/D2_SVC_SMILES_ECFP/metrics.csv
models/D2_SVC_SMILES_ECFP/clf.pkl
models/D2_SVC_SELFIES_KRFP/metrics.csv
models/D2_SVC_SELFIES_KRFP/clf.pkl
models/D2_SVC_SELFIES_ECFP/metrics.csv
models/D2_SVC_SELFIES_ECFP/clf.pkl
.idea/vcs.xml
.idea/profis.iml
.idea/inspectionProfiles/profiles_settings.xml
